<% flash.each do |key, value| %>
  <div class="row-fluid">
    <div class="span12">
     <div class="alert alert-<%=key%>"><%= value %></div>
    </div>
  </div>
<% end %>

<%= form_tag update_round_up_times_profiles_path, id: 'round_up_form', method: :put, remote: true do %> 
  <div class="field">
    <% @round_up_times.each do |rut| %>
      <%= label_tag  "round_up_time-#{rut.id}", "#{rut.day} #{ft rut.start_hour.to_s}" %>
      <select id="<%='round_up_time-'+rut.id.to_s%>" name="round_up_times[<%=rut.id%>]">
        <% existing_geo_id = @existing_round_up_time_geo_hash[rut.id] %>
        <% (generate_geo_dropdown optional=true).each do |geo_name, geo_id| %>
          <% if @office_ids.include? geo_id or @city_ids.include? geo_id or geo_name == nil%>

            <% if existing_geo_id == geo_id %>
              <option value="<%=geo_id%>" selected><%=geo_name%></option>
            <% else %>
              <option value="<%=geo_id%>"><%=geo_name%></option>
            <% end %>
          <% end %>
        <% end %>
      </select>
      </br></br> 
    <% end %>
  </div>
  <%= @success_message %>
  <%= submit_tag "Update", class: 'btn btn-info' %>
  <%#= submit_tag "Update", class: 'btn btn-info', remote: true, onclick: "updateUserRoundUpTimes();", method: put %>
  <%#= link_to "Edit", '#', :class => 'actions btn btn-small btn-info', :remote => true, :method => 'get', :onclick => "getUser(#{user.id})" %>
<% end %>

<script>
$(document).ready(function (){
  $("#round_up_form").on("ajax:success", function(e, data, status, xhr){
    $("#user_round_up_times").html(data)}
  )})
</script>