<p> For each time of week below, please select the location where you will be available to meet a coworker. All fields are optional.  Cinder will try to match you with a coworker once a week so long as you have chosen an office from at least one of the times below. </p>
<%= form_tag update_round_up_times_profiles_path, id: 'round_up_form', method: :put, remote: true do %> 
  <div class="field">
    <% @round_up_times.each do |rut| %> 
      <%= label_tag  "round_up_time-#{rut.id}", "#{rut.day} #{f_time rut.start_hour}" %>
      <select id="<%='round_up_time-'+rut.id.to_s%>" name="round_up_times[<%=rut.id%>]">
        <% existing_geo_id = @existing_round_up_time_geo_hash[rut.id] %>
        <% (generate_geo_dropdown optional=true).each do |geo_name, geo_id| %>
          <% if @office_ids.include? geo_id or @city_ids.include? geo_id or geo_name == nil%>

            <% if existing_geo_id == geo_id %>
              <option value="<%=geo_id%>" selected><%=geo_name%></option>
            <% else %>
              <option value="<%=geo_id%>"><%=geo_name%></option>
            <% end %>
          <% end %>
        <% end %>
      </select>
      <%= link_to "Join the #{rut.round_up_user_availabilities.count} #{rut.round_up_user_availabilities.count > 1 ? 'others' : 'other'} who #{rut.round_up_user_availabilities.count > 1 ? 'are' : 'is'} available at this time.", round_up_time_users_path(id: rut.id)%>
      </br></br> 
    <% end %>
  </div>
  <%= @success_message %></br>
  <%= submit_tag "Update", class: 'btn btn-info' %>

<% if @success_message %>
  <a href="#user_office_hours" onclick="changeTab('account_round_up_times_tab','user_office_hours_tab')" data-toggle="tab" class="btn btn-info">
    <span>Next: Office Hours</span>
  </a>
<% end %>
<% end %>

<script>
$(document).ready(function (){
  $("#round_up_form").on("ajax:success", function(e, data, status, xhr){
    $("#account_round_up_times").html(data)}
  )})
</script>