<%= form_for(@geo) do |f| %>
  <% if @geo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@geo.errors.count, "error") %> prohibited this geo from being saved:</h2>

      <ul>
      <% @geo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location_type %><br />
    <%= f.select :location_type, options_for_select(generate_location_type_dropdown) %>
  </div>
  <div class="field">
    <%= f.label :parent_city %><br />
    <%= f.select :parent_city, options_for_select(generate_parent_city_dropdown) %>
  </div>
  <div class="field">
    <%= f.label :parent_region %><br />
    <%= f.select :parent_region, options_for_select(generate_parent_region_dropdown) %>
  </div>
  <div class="field">
    <%= f.label :parent_country %><br />
    <%= f.select :parent_country, options_for_select(generate_parent_country_dropdown) %>
  </div>
  <div class="field">
    <%= f.label :parent_zone %><br />
    <%= f.select :parent_zone, options_for_select(generate_parent_zone_dropdown) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
