<p id="notice"><%= notice %></p>

<p>
  <b>Full name:</b>
  <%#= @user.full_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<p>
  <b>Office:</b>
  <%#= @user.office %>
</p>

<p>
  <b>Team:</b>
  <%#= @user.team %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
