<p>
  <b>Full name:</b>
  <%= @user.first_name + " " + @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<p>
  <b>Office:</b>
  <%= @user.office.name %>
</p>

<p>
  <b>Team:</b>
  <%= @user.team.name %>
</p>

<%= render partial: 'user_office_hours/my_hours'%>
</br></br>
<% if current_user.id == @user.id %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
