<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :required => true%>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :required => true, rows: 6%>
  </div>
  <div class="field">
    <%= f.label :starts_at%><br />
    <%= f.time_select :starts_at, minute_step: 5, default: {:hour => '12', :minute => '30'}, ampm: true, required: true %> 
  </div>
  <div class="field">
    <%= f.label :ends_at%><br />
    <%= f.time_select :ends_at, minute_step: 5, default: {:hour => '13', :minute => '30'}, ampm: true, required: true %> 
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, :required => true %>
  </div>
  

  <div class="field"> 
    <%= f.label :event_date %><br />
    <%= f.text_field :event_date, {:'data-behaviour' => 'datepicker', :required => true} %>
  </div>

  <div class="field">
    <%= f.label :rsvp_limit %><br />
    <%= f.text_field :rsvp_limit%>
  </div>

  <div class="field">
    <%= f.label :geo %><br />
    <%= f.select :geo, options_for_select(generate_geo_dropdown, @event.geo_id), {}, class: 'chosen-select' %>
  </div>
  Event Type
  <% @event_types.each do |type| %>
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="field">
            <div class="span1">
              <% if @event_tag_ids.include? type.id %>
                <%= check_box_tag('event_type['+type.name+']', 1, true) %> <!--type.name?-->
              <% else %>
                <%= check_box_tag('event_type['+type.name+']') %>
              <% end %>
            </div>
            <div class="span11">
              <%= label_tag('event_type['+type.name+']', type.name) %>
            </div>
          </div>
        </div>
      </div>  
    </div>
  <% end %>

<%= submit_tag "Submit", class: 'actions btn btn-info' %>
<% end %>
<script>
$(function(){
  $('[data-behaviour~=datepicker]').datepicker();$('.datepicker').css({'backgroundColor':'#FFFFFF !important'});
});
</script>
