<table id="spend-alert-table" class="table table-bordered table-striped tablesorter">
  <thead>
    <tr>
  		<th>Event</th>
      <th>Date</th>
  		<th>Time</th>
  		<th>Location</th>
      <th>Description</th>
      <th>Type</th>
      <th>Join</th>
    </tr>
  </thead>
  <tbody>
    <% @suggested_events.each do |se| %>
      <tr>
        <td style="padding: 10px;"><%= link_to se.name, event_path(se) %></td>
        <td style="padding: 10px;"><%= se.event_date %></td>
        <td style="padding: 10px;"><%= ft se.start_time %></td>
        <td style="padding: 10px;"><%= se.location %></td>
        <td style="padding: 10px;"><%= se.description %></td>
        <% ets = "| "; se.event_tags.each { |et| ets += et.interest.name + " | "} %>
        <td style="padding: 10px;"><%= ets %></td>
        <td style="padding: 10px;">
          <form action="rsvps/create" method="post">
            <input type="hidden" name="user_id" id="user_id_#{se.id}" value=<%=current_user.id%>>
            <input type="hidden" name="event_id" id="event_id_#{se.id}" value=<%=se.id%>>
            <input type="hidden" name="status" id="status_#{se.id}" value="attending">
            <input name="commit" type="submit" value="I'm going!">
          </form>
          <%#= link_to "I'm going!", create_rsvp_path+"?user_id=#{current_user.id}&event_id#{se.id}"  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>