<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>
<p>
  <b>Description:</b>
  <%= @event.description %>
</p>
<p>
  <b>Start time:</b>
  <%= ft @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= ft @event.end_time %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Event date:</b>
  <%= @event.event_date %>
</p>

<p>
  <b>Geo:</b>
  <%= @event.geo.name %>
</p>

<p>
  <b>Categories</b>
  <%tags = "" %>
  <% @event_tags.each do |et| %>
    <%tags += et.interest.name + ", " %>
  <% end %>
  <%= tags[0...-2] %>
</p>

<p>
  <b>Attendees:</br></b>
  <% @attending_users.each do |attendee| %>
    <%= attendee.email %>
    <% if @host_ids.include? attendee.id %>
      (host)
    <% elsif @host_ids.include? current_user.id %>
      <%= form_tag assign_host_path, :method => :put do %> 
        <input type="hidden" name="new_host" id="user_id_#{event.id}" value=<%=attendee.id%>>
        <input type="hidden" name="event_id" id="event_id_#{event.id}" value=<%=@event.id%>>
        <input class="rsvp-button" name="commit" type="submit" value="Make a host">
      <% end %>
    <% end %> 
    </br>
  <% end %>
</p>


<% if @host_ids.include? current_user.id %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>

<div class="row-fluid" id="credit-check-comments">
  <%= render partial: "shared/comments/comments" %>
</div>

