<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>
<p>
  <b>Description:</b>
  <%= @event.description %>
</p>
<p>
  <b>Start time:</b>
  <%= ft @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= ft @event.end_time %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Event date:</b>
  <%= @event.event_date %>
</p>

<p>
  <b>Geo:</b>
  <%= @event.geo.name %>
</p>

<p>
  <b>Categories</b>
  <%tags = "" %>
  <% @event_tags.each do |et| %>
    <%tags += et.interest.name + ", " %>
  <% end %>
  <%= tags[0...-2] %>
</p>

<p>
  <b>Attendees:</b>
  <!-- Show a list of attendees -->
</p>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
