<%= form_for(@user_office_hour) do |f| %>
  <% if @user_office_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_office_hour.errors.count, "error") %> prohibited this user_office_hour from being saved:</h2>

      <ul>
      <% @user_office_hour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Office" %><br />
    <%= f.select :geo_id, options_for_select(generate_office_dropdown, @user_office_hour.geo_id) %>

  </div>
  <div class="field">
    <%= f.label :day_of_week %><br />
    <%= f.select :day_of_week, options_for_select(generate_days_of_week_dropdown, @user_office_hour.day_of_week) %>
  </div>
  <div class="field">
    <%= f.label :starts_at%><br />
    <%= f.time_select :starts_at, minute_step: 5, default: {:hour => '12', :minute => '30'}, ampm: true  %> 
  </div>
    <div class="field">
    <%= f.label :ends_at %><br />
    <%= f.time_select :ends_at, minute_step: 5, default: {:hour => '13', :minute => '30'}, ampm: true  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
