<h3>All Office Hours</h3>

<table>
  <tr>
    <th>User</th>
    <th>Office</th>
    <th>Day of week</th>
    <th>Starts at</th>
    <th>Ends at</th>
  </tr>

<% @user_office_hours.each do |user_office_hour| %>
  <tr>
    <td style="padding: 10px;"><%= user_office_hour.user.name %></td>
    <td style="padding: 10px;"><%= user_office_hour.geo.name %></td>
    <td style="padding: 10px;"><%= user_office_hour.day_of_week %></td>
    <td style="padding: 10px;"><%= f_time user_office_hour.starts_at %></td>
    <td style="padding: 10px;"><%= f_time user_office_hour.ends_at %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User office hour', new_user_office_hour_path %>
