<%= form_tag update_subscriptions_profiles_path, id: 'account_subscriptions_form', method: :put, remote: true do %> 

<% @interests.each do |type| %>
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="field">
          <div class="span1">
            <% if @existing_subscription_ids.include? type.id %>
              <%= check_box_tag('interests['+type.name+']', 1, true) %> <!--type.name?-->
            <% else %>
              <%= check_box_tag('interests['+type.name+']') %>
            <% end %>
          </div>
          <div class="span11">
            <%= label_tag('interests['+type.name+']', type.name) %>
          </div>
        </div>
      </div>
    </div>  
  </div>
<% end %>
<div class="row">
  <div class="span12">
    <%= @success_message %>
  </div>
</div>
<%= submit_tag "Update", class: 'actions btn btn-info' %>

<% end %>

<script>
$(document).ready(function (){
  $("#account_subscriptions_form").on("ajax:success", function(e, data, status, xhr){
    $("#account_subscriptions").html(data)}
  )})
</script>