<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @subscription.user %>
</p>

<p>
  <strong>Geo:</strong>
  <%= @subscription.geo %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @subscription.interest %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
